[data-view='project-list'] {
  .project-container {
    min-height:100%;
  }
  .project-list-card {
    width: 350px;
    padding:0;
    h3 {
      .badge {
        background-color: #808080;
        border: none;
        font-size: 12px;
        &.active {
          background-color:#d9a441;
        }
      }
    }
    span.thumbnail {
      display:block;
      width:370px;
      height:200px;
      background-size:cover;
      background-position:center center;
      background-repeat:no-repeat;
    }
    .badge{
      display:inline-block;
      padding:3px 5px;
      margin-right:3px;
      margin-bottom:3px;
      border:solid 1px #eee;
      border-radius:3px;
      cursor:pointer;
      color:white;
      opacity:0.75;
      font-size:12px;
      &:hover{
        opacity:1;
        text-decoration:none;
      }
    }
    p.card-keywords {
      span {
        display:block;
        font-size:12px;
        text-transform:uppercase;
        opacity:65;
        letter-spacing:0.5px;
      }
      .badge {
        background:hsl(200, 63%, 52%);
      }
    }
    p.card-needs {
      span {
        display:block;
        font-size:12px;
        text-transform:uppercase;
        opacity:65;
        letter-spacing:0.5px;
      }
      .badge {
        background:hsl(0, 63%, 52%);
      }
    }
  }
}
