doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='manifest', href='manifest.json')
    meta(name='mobile-web-app-capable', content='yes')
    title React.js Boilerplate
  body
    noscript
      | If you&apos;re seeing this message, that means
      strong JavaScript has been disabled on your browser
      | , please
      strong enable JS
      |  to make this app work.
    #app
    script(src='/js/react/build/bundle.js')
